body{
    background-color: #000;
}
h1{
    color: #fff;
    font-weight: 10px;
}
p{
    color: #fff;
}
th{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
}
#table{
    margin: 0 auto 0 auto;
}